.box{
    display: inline-block;
    height: 150px;
    width: 150px;
    /* background-color: blueviolet; */
}
.container{
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
}
.box1{
    background-color: red;
    position: relative;
    left: 250px;
    z-index: 7;
}
/* default z-index is auto */
.box2{
    background-color: blue;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 2;
}
.box3{
    background-color: green;
    position: relative;
    z-index: 5;
}
.box4{
    background-color: orange;
}